{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result["symbol"] }}</td>
                <td>{{ result["shares"] }}</td>
                <td>{{ result["price"] }}</td>
                <td>{{ result["timestamp"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
