nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

body
{
    background-image: linear-gradient(rgba(26, 26, 26, 0.4), rgba(26, 26, 26, 0.4)), url(https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2017/11/11/161529_1325935.jpg.1500x1000_q95_crop-smart_upscale.jpg);
    background-size: cover;
}

h6
{
    color:gray;
}

.white
{
    color:white;
}

.card-header
{
    font-size: 30px;
}

.card-title
{
    font-size: 25px;
}

.heading
{
    font-size: 50px;
}

.page-title
{
    font-weight: bold;
}

#eventname
{
    width: 100%;
}

#club
{
    width: 100%;
}

#description
{
    width: 100%;
}

#picture
{
    width: 100%;
}

#tags
{
    width: 100%;
}

#date
{
    width: 100%;
}

#time
{
    width: 100%;
}

#startmonth
{
    width: 100%;
}

#startday
{
    width: 100%;
}

#startyear
{
    width: 100%;
}

#endmonth
{
    width: 100%;
}

#endday
{
    width: 100%;
}

#endyear
{
    width: 100%;
}

#createevent
{
    width: 100%;
}

#starthour
{
    width: 100%;
}

#startminutes
{
    width: 100%;
}

#startam-pm
{
    width: 100%;
}

#endhour
{
    width: 100%;
}

#endminutes
{
    width: 100%;
}

#endam-pm
{
    width: 100%;
}

#location
{
    width: 100%;
}

#pictureuploadcheck
{
    float: left;
}

.col-form-label
{
    text-align: left;
    font-weight: bold;
}

.form-check
{
    text-align: left;
}
