{% extends "layout.html" %}

{% block title %}
    Calendar
{% endblock %}

{% block main %}
<main class="container p-5">
    <h2 class="page-title white">Calendar</h2>
    <iframe src="https://calendar.google.com/calendar/b/2/embed?title=Club%20Events&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=cs50projectchi%40gmail.com&amp;color=%231B887A&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</main>
{% endblock %}