{% extends "layout.html" %}

{% block title %}
    Clubs
{% endblock %}

{% block main %}
    <div class="container">
        <form>
            <!-- to-do: fix sizing of button -->
            <div class="form-group">
                <input type="text" name="q" autocomplete="off" class="form-control" placeholder="Search" id="search">
            </div>
        </form>
        <div class="row" id="row">
            {% for club in clubs %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> {{ club["name"] }} </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Category: {{ club["category"] }} </h6>
                        <p class="card-text"> {{ club["purpose"] }} </p>
                        <a href="mailto:{{club["email"]}}" class="card-link"> {{ club["email"] }} </a>
                        <form action="/clubs" method="post">
                            <input type="hidden" name="subscribe" value="{{club["club_id"]}}">
                            <button type="submit" class="btn btn-primary btn-sm">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>

        let input = document.getElementById('search');
        input.onkeyup = function() {
            $.get('/search?q=' + input.value, function(data) {
                let html='';
                for (club of data) {
                    html += '<div class="col">\
                    <div class="card" style="width: 18rem;">\
                    <div class="card-body">\
                    <h5 class="card-title">' + club["name"] +'</h5>\
                    <h6 class="card-subtitle mb-2 text-muted">Category: ' + club["category"] + '</h6>\
                    <p class="card-text">' + club["purpose"] + '</p>\
                    <a href="mailto:'+ club["email"] + '" class="card-link"> ' + club["email"] + '</a>\
                    <form action="/clubs" method="post">\
                    <input type="hidden" name="subscribe" value="' + club["club_id"] + '">\
                    <button type="submit" class="btn btn-primary btn-sm">Subscribe</button>\
                    </form>\
                    </div>\
                    </div>\
                    </div>';
                }
                document.getElementById('row').innerHTML = html;
            });
        };

    </script>
{% endblock %}