{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <font color="white">
    <div class="text-left">
        <h4 class="text-left">Account Information</h4>
        <div class="text-left">
            <dl>
                <dt>Username</dt>
                <dd>{{ username }}</dd>
            </dl>
            <dl>
                <dt>Permissions</dt>
                {% for permission in permissions %}
                    <dd>{{ permission["permissions"] }}</dd>
                {% endfor %}
            </dl>
        </div>

        <hr>
        <h4 class="text-left">Change Password</h4>
        <form action="/settings" method="post">
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Old password" type="password" required>
            </div>
            <div class="form-group">
                <input class="form-control" name="new-password" placeholder="New password" type="password" required>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="Confirm new password" type="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Change password</button>
        </form>
    </div>
    </font>
{% endblock %}
