{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
<!-- modeled off of Bootstrap's checkout demo https://getbootstrap.com/docs/4.1/examples/checkout/ -->
    <div class="container white">
      <div class="py-5 text-center">
        <h2 class="page-title">User Settings</h2>
      </div>
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                Navigate
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <h6 class="my-0"><a href="#account-information">Account Information</a></h6>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <h6 class="my-0"><a href="#change-password">Change Password</a></h6>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <h6 class="my-0"><a href="#subscriptions-settings">Subscriptions</a></h6>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <h6 class="my-0"><a href="#preferences-settings">Preferences</a></h6>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <h6 class="my-0"><a href="#permissions-settings">Permissions</a></h6>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3" id="account-information">Account Information</h4>
          <form id="settings-form" action="/settings" method="post">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="name">Update name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="{{user["name"]}}">
              </div>
              <div class="col-md-6 mb-3">
                <label for="username">Update username</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" id="username" name="username" placeholder="{{ user["username"] }}">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="email">Update email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="{{ user["email"] }}">
            </div>
            <hr class="mb-4">
            <h4 class="mb-3" id="change-password">Change Password</h4>
            <div class="row">
              <div class="col-md-4 mb-3">
                <input class="form-control" name="password" placeholder="Old password" type="password">
              </div>
              <div class="col-md-4 mb-3">
                <input class="form-control" name="new-password" placeholder="New password" type="password">
              </div>
              <div class="col-md-4 mb-3">
                <input class="form-control" name="confirmation" placeholder="Confirm new password" type="password">
              </div>
            </div>
            <hr class="mb-4">
            <h4 class="mb-3" id="subscription-settings">Subscriptions</h4>
            <div class="row">
              <div class="col-md-6 mb-3">
                Currently subscribed to updates from:
                <ul>
                  {% if subscriptions %}
                    {% for sub in subscriptions %}
                    <li>{{ sub }}</li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </div>
              <div class="col-md-6 mb-3">
                <label for="subscriptions">Subscribe (command-click/ctrl-click to select multiple)</label>
                <select multiple class="form-control" name="subscriptions" id="subscriptions-settings">
                  <option value="" selected disabled>Begin typing to filter...</option>
                  {% for club in not_subscribed %}
                    <option value="{{ club }}">{{ club }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <h4 class="mb-3" id="preferences-settings">Preferences</h4>
            <div class="row">
              <div class="col-md-6 mb-3">
                Current preferences:
                <ul>
                    {% for pref in preferences %}
                    <li>{{ pref }}</li>
                    {% endfor %}
                </ul>
              </div>
              <div class="col-md-6 mb-3">
                <label for="preferences">Add preferences (command-click/ctrl-click to select multiple)</label>
                <select multiple class="form-control" name="preferences" id="preferences">
                  <option value="" selected disabled>Begin typing to filter...</option>

                  {% for pref in not_preferences %}
                    <option value="{{ pref }}">{{ pref }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <h4 class="mb-3" id="permissions-settings">Permissions</h4>
            <div class="row">
              <div class="col-md-6 mb-3">
                You have permissions for the following clubs:
                <ul>
                  {% if permissions %}
                    {% for permission in permissions %}
                    <li>{{ permission }}</li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </div>
              <div class="col-md-6 mb-3">
                <label for="permissions">Request permissions (this will send an email to your club to give you permission to post events for them). Command-click/ctrl-click to select multiple</label>
                <select multiple class="form-control" name="permissions" id="permissions">
                  <option value="" selected disabled>Begin typing to filter...</option>
                  {% for club in clubs %}
                    <option value="{{ club["name"] }}">{{ club["name"] }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary" type="submit">Submit Changes</button>
          </form>
        </div>
    </div>
    <script>
        document.querySelector("form").onsubmit = function(event) {
            event.preventDefault();
            let username = document.forms["settings-form"]["username"].value;
            let email = document.forms["settings-form"]["email"].value;
            $.getJSON("/check?username=" + username, function(data) {
                if (data == false) {
                    alert("Username is already taken!");
                    return false;
                }
                else {
                  $.getJSON("/check-email?email="+email, function(data) {
                    if (data == false) {
                      alert("Email is in use!");
                      return false;
                    }
                    else {
                        document.getElementById("settings-form").submit();
                        return true;
                    }
                  }
                );
                }
            });
        };
    </script>
    <footer class="my-5 pt-5 text-muted text-center text-small">
    </footer>
</div>

<!--
    <font color="white">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Settings</h2>
        </div>
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
            </div>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Account Information</h4>
          <form action="/settings" method="/post">
              <div class="row">
                  <div class="col-md-6 mb-3">
                      <label for="name">Update name</label>
                      <input type="text" class="form-control" id="name" placeholder="{{name}}">
                  </div>
                  <div class="col-md-6 mb-3">
                      <label for="lastName">Last name</label>
                      <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              </div>
          </form>
        <div class="text-left">
            <dl>
                <dt>Name</dt>
                <dd>{{ name }}</dd>
            </dl>
            <dl>
                <dt>Username</dt>
                <dd>{{ username }}</dd>
            </dl>
            <dl>
                <dt>Email</dt>
                <dd>{{ email }}</dd>
            </dl>
            <dl>
                <dt>Club Subscriptions</dt>
                {% for sub in subscriptions %}
                <dd>{{ sub }}</dd>
                {% endfor %}
            </dl>
            <dl>
                <dt>Permissions</dt>
                {% for permission in permissions %}
                    <dd>{{ permission }}</dd>
                {% endfor %}
            </dl>
        </div>

        <hr>
        <h4 class="text-left">Change Password</h4>
        <form action="/settings" method="post">
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Old password" type="password" required>
            </div>
            <div class="form-group">
                <input class="form-control" name="new-password" placeholder="New password" type="password" required>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="Confirm new password" type="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Change password</button>
        </form>
    </div>
    </font>
-->
{% endblock %}
